{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": 0,
    "class-methods-use-this": "off",
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": 0
  }
}
